<body>
    <div id="bg"></div>
    <main>
        <section id="card">
            <ul>
                <li>
                    <span></span>
                    <strong>Nieuws</strong>
                </li>
                <li>
                    <span></span>
                    <strong>Evenementen</strong>
                </li>
                <li>
                    <span></span>
                    <strong>Trainingen</strong>
                </li>
            </ul>
        </section>
        <section id="primary">
            <h1>TTVN Nieuwegein</h1>
            <p>Leden-app</p>
            <div class="alternative-theme">
                <button mat-button mat-raised-button color="primary" (click)="routeToSignin()">
                    <mat-icon>person</mat-icon>
                    <span style="font-size: 11pt">Inloggen</span>
                </button>
            </div>
        </section>
    </main>

</body>
