<div class="flexcontainer">
        <form [formGroup]="loginForm">

            <mat-form-field>
                <input matInput placeholder="Userid" formControlName="userid">
                <mat-error *ngIf="userid!.hasError('required')">
                    Userid is verplicht
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput [type]="showPw ? 'text' : 'password'" placeholder="Wachtwoord"
                    formControlName='password'>
                <mat-icon matSuffix (click)="showPw = !showPw">{{showPw ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="password!.hasError('required')">
                    Wachtwoord is verplicht
                </mat-error>
            </mat-form-field>
        </form>

        <button mat-raised-button color="primary" [disabled]='!loginForm.valid' (click)="onLogin()">Login</button>

</div>