<div class="mat-content" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTab" class="stretched-tabs">
    <mat-tab label="Agenda">
      <agenda-page [agenda]='agenda'></agenda-page>
    </mat-tab>
    <mat-tab label="Mededelingen">
      <announcement-page [announcements]='announcements'></announcement-page>
    </mat-tab>
    <mat-tab label="Training">
      <trainingsgroups-box [allgroups]='trainingsGroups' [mygroups]='myGroups'></trainingsgroups-box>
      <signofftraining-box [allgroups]='trainingsGroups' [mygroups]='myGroups'></signofftraining-box>
    </mat-tab>
  </mat-tab-group>
</div>
