<div class="mat-content" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTab" class="stretched-tabs">
    <mat-tab label="Agenda">
      <div class="tabwrapper">
        <div class="tab50procent">
          <agenda-page [agenda]='agenda'></agenda-page>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Mededelingen">
      <div class="tabwrapper">
        <div class="tab50procent">
          <announcement-page [announcements]='announcements'></announcement-page>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Training">
      <div class="tabwrapper">
        <div class="tab50procent">
            <trainingsgroups-box [allgroups]='trainingsGroups' [mygroups]='myGroups'></trainingsgroups-box>
            <signofftraining-box [mygroups]='myGroups' (signoff)="signoff($event)"></signofftraining-box>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
