/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$custom-theme-primary: mat-palette($mat-blue, 900);
$custom-theme-accent: mat-palette($mat-grey);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

$alt-theme-primary: mat-palette($mat-yellow, 700);
$alt-theme: mat-light-theme($alt-theme-primary, $custom-theme-accent, $custom-theme-warn);

.alternative-theme {
  @include angular-material-theme($alt-theme);
}

@import "src/variables.scss";


//
// Material boxes and dialogs
//
:root {
  mat-card {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 10px 10px lightgrey !important;
    background: white;
    padding: 10px;
  }

  mat-card-header {
    border-radius: 5px 5px 0px 0px;
    background: #0d47a1;
  }

  mat-card-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px !important;
    font-weight: 500;
    color: white;
    margin: 0px !important;
  }

  mat-card-subtitle {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-bottom: 8px;
  }

  mat-card-content {
    margin: 0px;
    padding: 0px;
  }

  mat-card-actions {
    margin: 0px !important;
  }

  .mat-dialog-container {
    padding: 0px !important;
    border-radius: 5px;
  }

  .mat-dialog-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px !important;
    font-weight: 500;
    background: #0d47a1;
    color: white;
    margin: 0px !important;
    padding: 10px 10px 10px 25px;
  }

  mat-dialog-content {
    margin: 0px !important;
    padding: 25px 25px 15px 25px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: fit-content;
  }

  mat-dialog-actions {
    margin: 0px !important;
    padding: 0px 25px 0px 25px !important;
  }
}


//
// Flex-Contrainer: Voor GROTE schermen, hebben we een kolommen naast elkaar
//
@media (min-width: $desktop) {
  // onderstaande twee classes zorgen ervoor er in beeldbeeld een kolom van 50% wordtd getoond
  .tabwrapper {
    width: 50%;
    display: table;
    margin: 0 auto;
  }
  .tab50procent {
    width: 100%;
    display: table-row;
  }
  #date-chip {
    width: 23%;
  }
}

//
// Flex-Contrainer: Voor KLEINE schermen, hebben we een kolommen onder elkaar
//
@media (max-width: $desktop - 1px) {
  .hideonmobile {
    display: none;
  }
  #date-chip {
    width: 100%;
  }
}

table {
  width: 100%;
  border-spacing: 0px;
  tr
  {
    text-align: left;
    vertical-align: top;
    td
    {
      text-align: left;
      vertical-align: top;
      padding: 0px;
    }
  }
}

.development { color: lightgrey; }

.mat-form-max-width {
  width: 100%;
}
